.sectionItem {
    max-width: 165px;
    max-height: 98px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #002A32; 

    &:hover {
        background-color: #3C6C7F;

        p {
            color: #B6DCFF;
        }
    
    
    }
}

.sectionItem__icon {
    display: flex;
    justify-content: center;
    padding-top: 20px;

    &:hover {
        fill: #002A32;
    }
}

.sectionItem__name {
    color: #8999A1;
    font-size: 15px;
    line-height: 23px;
}